{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Olá, {{user.name}}</strong>
    <p>Inicie um agendamento escolhendo um profissional abaixo: </p>
    {% include "_partials/flash.njk" %}
    <ul class="providers">
    {% for provider in providers %}
      {% if provider.id !== loggedUser.id %}
        <li class="provider">
          <img src="/files/{{ provider.avatar }}" />
          <div>
            <strong>{{ provider.name }}</strong>
            {% if provider.price !== null %}
              <small>Valor: {{ provider.price }}R$</small>
            {% endif %}
            <small>{{ provider.address}}</small>
          </div>
          <a href="/app/appointments/new/{{ provider.id }}">+</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
    {% if isProvider === 'true' %}
      <p>Para checar os <b>agendamentos dos seus clientes</b> basta clicar no <b>'Minha agenda'</b> </p>
      <a href="/app/appointments/checked" class="btn-purple">Minha agenda</a>
    {% endif %}
    <a href="/app/appointments" class="btn-purple">Cortes marcados</a>
    <a href="/app/profile/{{user.id}}" class="btn-green">Atualize seus dados</a>
    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
